In [138]:
import pandas as pd
import numpy as np
import random

In [139]:
def extract_score_rank(string):
    info = list(str(string).split())
    info[1] = info[1][1:-1]
    return float(info[0]),float(info[1])

In [140]:
df = pd.read_csv('jee20-21cap1.csv')
df = df.replace(r'.*- ', '', regex=True)
df.dropna(subset=['Score'], inplace=True)
df['Marks'], df['Percentile'] = zip(*df['Score'].map(extract_score_rank))
df.drop(columns=['ChoiceCode', 'Score'], inplace=True)
df.shape

(1194, 5)

In [141]:
info = pd.read_csv('moreclgdata.csv', low_memory=False)
info.dropna(subset=['Facilities'], inplace=True)
info.drop(info.iloc[:, 15:],inplace=True, axis=1)
facilities = list(info['Facilities'])[:1194]
df['Facilities'] = facilities
avgFees, rating = [], []

In [142]:
df = pd.read_csv('temp.csv')

In [143]:
for i in range(1194):
    avgFees.append(random.randint(348900, 800000))
    if df['Percentile'][i] >= 99:
        rating.append(random.uniform(4.5, 5))
    elif df['Percentile'][i] >= 95:
        rating.append(random.uniform(4, 4.5))
    elif df['Percentile'][i] >= 90:
        rating.append(random.uniform(3.5, 4))
    elif df['Percentile'][i] >= 80:
        rating.append(random.uniform(3, 3.5))
    elif df['Percentile'][i] >= 75:
        rating.append(random.uniform(2, 3))
    else:
        rating.append(random.uniform(1, 2))
df['AvgFees'] = avgFees
df['Rating'] = rating
df.drop(columns=['Unnamed: 0'], inplace=True)

In [174]:
df.to_csv('finalfinal.csv')
df.head()

,ClgName,Branch,Exam,Marks,Percentile,Facilities,AvgFees,Rating,AvgPercentile,w1,w2,w3,w4,w5,w6,w7,w8,w9,City
0,Bhartiya Vidya Bhavan's Sardar Patel Institute...,Computer Engineering,JEE,56,99.141446,"Boys Hostel, Girls Hostel, Gym, Library, Sport...",764302,4.532085,97.518245,97.680565,97.842885,98.005205,98.167525,98.329846,98.492166,98.654486,98.816806,98.979126,Mumbai
1,Bhartiya Vidya Bhavan's Sardar Patel Institute...,Information Technology,JEE,116,98.688151,"Boys Hostel, Girls Hostel, Gym, Library, Sport...",753388,4.099374,97.518245,97.635236,97.752226,97.869217,97.986208,98.103198,98.220189,98.337179,98.454170,98.571161,Mumbai
2,"Pune Institute of Computer Technology, Dhankav...",Computer Engineering,JEE,178,98.403871,"Boys Hostel, Girls Hostel, Gym, Library, Sport...",686531,4.031526,96.986573,97.128302,97.270032,97.411762,97.553492,97.695222,97.836952,97.978682,98.120412,98.262142,Pune
3,Shri Vile Parle Kelvani Mandal's Dwarkadas J. ...,Computer Engineering,JEE,180,98.391399,"Boys Hostel, Girls Hostel, Gym, Library, Sport...",674687,4.482174,95.434342,95.730048,96.025753,96.321459,96.617165,96.912871,97.208576,97.504282,97.799988,98.095693,Mumbai
4,"Pune Institute of Computer Technology, Dhankav...",Computer Engineering,JEE,202,98.301492,"Boys Hostel, Girls Hostel, Gym, Library, Sport...",587879,4.361609,96.986573,97.118064,97.249556,97.381048,97.512540,97.644032,97.775524,97.907016,98.038508,98.170000,Pune

In [175]:
col = [0]*1194
clgNames = list(df['ClgName'].unique())
df[df['ClgName'] == clgNames[0]]
for i in clgNames:
    avg = df[df['ClgName'] == i]['Percentile'].mean()
    for j in range(1194):
        if df['ClgName'][j] == i:
            col[j] = avg
df['AvgPercentile'] = col

In [179]:
def calc(w, perc, avgP):
    return perc * w + (1-w)*avgP
# this is for COLLEGE VS BRANCH

df['w1'] = df['Percentile'] * 0.1 + (0.9) * df['AvgPercentile']
df['w2'] = df['Percentile'] * 0.2 + (0.8) * df['AvgPercentile']
df['w3'] = df['Percentile'] * 0.3 + (0.7) * df['AvgPercentile']
df['w4'] = df['Percentile'] * 0.4 + (0.6) * df['AvgPercentile']
df['w5'] = df['Percentile'] * 0.5 + (0.5) * df['AvgPercentile']
df['w6'] = df['Percentile'] * 0.6 + (0.4) * df['AvgPercentile']
df['w7'] = df['Percentile'] * 0.7 + (0.3) * df['AvgPercentile']
df['w8'] = df['Percentile'] * 0.8 + (0.2) * df['AvgPercentile']
df['w9'] = df['Percentile'] * 0.9 + (0.1) * df['AvgPercentile']
df.to_csv('veryfinal.csv')

In [183]:
def extract_name_town_city(sample):
    res = sample.split(',')
    name, town, city = '', '', ''
    if len(res) >= 1: name = res[0]
    if len(res) >= 2: town = res[1]
    if len(res) >= 3: city = res[2]
    return city
df['City'] = df['ClgName'].map(extract_name_town_city)
df['City'] = df['City'].replace(r'\r', '', regex=True)
df['City'] = df['City'].replace(r'\n', '', regex=True)
df['City'] = df['City'].replace(r' ', '', regex=True)
df['City'] = df['City'].replace(r'Tal', '', regex=True)
df['City'] = df['City'].replace(r'\(E\)', '', regex=True)
df['City'] = df['City'].replace(r'\(W\)', '', regex=True)

In [189]:
df['City'] = df['City'].replace(r'Dist\.', '', regex=True)
df['City'] = df['City'].replace(r'\.', '', regex=True)
df['City'] = df['City'].replace(r'', 'Nagpur', regex=True)
df = df[df['City'] != 'FacultyofEngineering&FacultyofManagement']
df['City'].unique()

array(['Mumbai', 'Pune', 'Nagpur', 'NaviMumbai', 'Tathawade', 'Akurdi',
       'Dhankawadi', 'Sangli', 'Aurangabad', 'Narhe(Ambegaon)',
       'Nandurbar', 'egaonstation', 'Pravaranagar', 'UmredRoad',
       'Palghar', 'ViaLohgaon', 'KashtiShrigondha', 'Wagholi', 'Thane',
       'Shahapur', 'Nashik', 'Ratnagiri', 'ManagementStudiesandResearch',
       'Mahiravani', 'Beed', 'Haveli', 'Jalgaon', 'Sindhi(Meghe)',
       'Shirgaon', 'Boisar', 'Panvel', 'solapur', 'Nanded', 'Amravati',
       'DistDhule', 'Neminagar', 'Buldhana', 'HingnaHingnaNagpur',
       'Shegaon', 'Raigad', 'Shirasgon', 'Maval', 'Anjaneri', 'Koregaon',
       'Karjat', 'Nepti', 'Asangaon', 'Washim', 'Ohar', 'Satara',
       'NHNo6Vyala', 'MouzaBamni', 'Chikhali', 'Badlapur', '-Ambernath',
       'Ahmednagar', 'Bhandara', 'Solapur', 'Vangali', 'Bhor', 'Kolhapur',
       'PostBelheJunnarPune', 'Shelu', 'Shahpur', 'Soregaon', 'Shelve',
       'Barshi', 'Karad', 'SomeshwarNagar'], dtype=object)

In [ ]:
df.to_csv('finalultrapromax')