In [4]:
import pandas as pd
import numpy as np

In [5]:
cutoffs = pd.read_csv('clgBranchCutoff.csv')
cutoffs = cutoffs.iloc[::2]
cutoffs = cutoffs.drop(columns = ['Unnamed: 0', 'GNT2S', 'LNT2S', 'ORPHAN', 'EWS', 'TFWS', 'ABCD', 'EFGH', 'Unnamed: 16', 'Unnamed: 17'])
cutoffs = cutoffs.iloc[:681]

In [16]:
clgBranch = pd.read_csv('clgNameBranch.csv')
clg = clgBranch.iloc[::2]
branch = clgBranch.iloc[1::2]
clg = list(clg['clg'])
branch = list(branch['clg'])
cutoffs['ClgName'] = clg
cutoffs['Branch'] = branch
colnames = ['ClgName', 'Branch', 'GOPENS', 'GSCS', 'GSTS', 'GNT1S', 'GOBCS', 'LOPENS', 'LOBCS', 'PWDOPENS']
cutoffs = cutoffs.reindex(columns=colnames)
cutoffs
colname = ['GOPENS', 'GSCS', 'GSTS', 'GNT1S', 'GOBCS', 'LOPENS', 'LOBCS', 'PWDOPENS']
cutoffs = cutoffs.replace(r'\r.*', '', regex=True)
cutoffs = cutoffs.replace(r'.*- ', '', regex=True)
cutoffs

,ClgName,Branch,GOPENS,GSCS,GSTS,GNT1S,GOBCS,LOPENS,LOBCS,PWDOPENS
0,"Government College of Engineering, Amravati",Civil Engineering,15776,17165,49645,21718,16685,9318,16120,NaN
2,"Government College of Engineering, Amravati",Electronics and Telecommunication Engg,9087,13812,47845,10529,10401,10835,13745,NaN
4,"Sant Gadge Baba Amravati University,Amravati",Food Technology,61213,40902,79193,36588,NaN,NaN,NaN,NaN
6,"Sant Gadge Baba Amravati University,Amravati",Oil and Paints Technology,47089,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Sant Gadge Baba Amravati University,Amravati",Paper and Pulp Technology,72318,82778,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1352,Pimpri Chinchwad Education Trust's Pimpri Chin...,Mechanical Engineering,75713,87570,NaN,NaN,NaN,NaN,NaN,NaN
1354,Dr.D.Y.Patil College Of Engineering & Innovati...,Computer Engineering,87856,59128,NaN,NaN,NaN,NaN,NaN,NaN
1356,Dr. D Y Patil Pratishthan's College of Enginee...,Computer Science and Engineering,88471,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1358,Dr. D Y Patil Pratishthan's College of Enginee...,Electrical Engineering,I,84548,NaN,NaN,NaN,NaN,NaN,NaN
1360,Dr. D Y Patil Pratishthan's College of Enginee...,Computer Science and Engineering(Data Science),50012,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
cutoffs.to_csv("cutoffs.csv")

In [54]:
def extract_score_rank(string):
    info = list(string.split())
    info[1] = info[1][1:-1]
    return info[0],info[1]

def extract_name_town_city(sample):
    res = sample.split(',')
    name, town, city = '', '', ''
    if len(res) >= 1: name = res[0]
    if len(res) >= 2: town = res[1]
    if len(res) >= 3: city = res[2]
    name
    return name, town, city

def extraction(file_names: list):
    finalTable = pd.DataFrame(columns=['Rank', 'Scores', 'Name', 'Branch', 'Town', 'City'])
    l = []
    for file_name in file_names:
        table = pd.read_csv(file_name)
        print(table.columns)
        for i in range(table.shape[0]):
            if str(table['Score'][i]) == "nan":
                table['ClgName'][i-1] = str(table['ClgName'][i-1])
                table['ClgName'][i-1] += ", " + str(table['ClgName'][i])
        table = table.replace(r'.*- ', '', regex=True)

        table = table.drop(columns=['ChoiceCode', 'A', 'B'])
        table = table.dropna(subset=['Score'])
        
        table['Rank'], table['Scores'] = zip(*table['Score'].map(extract_score_rank))
        table['Name'], table['Town'], table['City'] = zip(*table['ClgName'].map(extract_name_town_city))
        
        table = table.replace(r'.*- ', '', regex=True)
        
        table = table.drop(columns=['Score', 'ClgName'])
        table = table.reindex(columns=['Rank', 'Scores', 'Name', 'Branch', 'Town', 'City'])
        l.append(table)
    res = l[0].append(l[1:])
    return res

In [58]:
file_names = ['jeecap1.csv', 'jeecap2.csv', 'jeecap1_2021.csv', 'jeecap2_2021.csv']
df = extraction(file_names)

Index(['Score', 'ChoiceCode', 'ClgName', 'Branch', 'A', 'B'], dtype='object')
Index(['Score', 'ChoiceCode', 'ClgName', 'Branch', 'A', 'B'], dtype='object')

<ipython-input-54-8120cbf68654>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['ClgName'][i-1] = str(table['ClgName'][i-1])
<ipython-input-54-8120cbf68654>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['ClgName'][i-1] += ", " + str(table['ClgName'][i])
<ipython-input-54-8120cbf68654>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['ClgName'][i-1] = str(table['ClgName'][i-1])
<ipython-input-54-8120cbf68654>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['ClgName'][i-1] += ", " + str(table['ClgName'][i])

Index(['Score', 'ChoiceCode', 'ClgName', 'Branch', 'A', 'B'], dtype='object')
Index(['Score', 'ChoiceCode', 'ClgName', 'Branch', 'A', 'B'], dtype='object')

<ipython-input-54-8120cbf68654>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['ClgName'][i-1] = str(table['ClgName'][i-1])
<ipython-input-54-8120cbf68654>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['ClgName'][i-1] += ", " + str(table['ClgName'][i])
<ipython-input-54-8120cbf68654>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['ClgName'][i-1] = str(table['ClgName'][i-1])
<ipython-input-54-8120cbf68654>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['ClgName'][i-1] += ", " + str(table['ClgName'][i])

In [59]:
df.shape

(4972, 6)