In [176]:
import pandas as pd
import numpy as np

In [177]:
cutoffs = pd.read_csv('clgBranchCutoff.csv')
cutoffs = cutoffs.iloc[::2]
cutoffs = cutoffs.drop(columns = ['Unnamed: 0', 'GNT2S', 'LNT2S', 'ORPHAN', 'EWS', 'TFWS', 'ABCD', 'EFGH', 'Unnamed: 16', 'Unnamed: 17'])
cutoffs = cutoffs.iloc[:681]

In [178]:
clgBranch = pd.read_csv('clgNameBranch.csv')
clg = clgBranch.iloc[::2]
branch = clgBranch.iloc[1::2]
clg = list(clg['clg'])
branch = list(branch['clg'])
cutoffs['ClgName'] = clg
cutoffs['Branch'] = branch
colnames = ['ClgName', 'Branch', 'GOPENS', 'GSCS', 'GSTS', 'GNT1S', 'GOBCS', 'LOPENS', 'LOBCS', 'PWDOPENS']
cutoffs = cutoffs.reindex(columns=colnames)
cutoffs
colname = ['GOPENS', 'GSCS', 'GSTS', 'GNT1S', 'GOBCS', 'LOPENS', 'LOBCS', 'PWDOPENS']
cutoffs = cutoffs.replace(r'\r.*', '', regex=True)
cutoffs = cutoffs.replace(r'.*- ', '', regex=True)
cutoffs

,ClgName,Branch,GOPENS,GSCS,GSTS,GNT1S,GOBCS,LOPENS,LOBCS,PWDOPENS
0,"Government College of Engineering, Amravati",Civil Engineering,15776,17165,49645,21718,16685,9318,16120,NaN
2,"Government College of Engineering, Amravati",Electronics and Telecommunication Engg,9087,13812,47845,10529,10401,10835,13745,NaN
4,"Sant Gadge Baba Amravati University,Amravati",Food Technology,61213,40902,79193,36588,NaN,NaN,NaN,NaN
6,"Sant Gadge Baba Amravati University,Amravati",Oil and Paints Technology,47089,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Sant Gadge Baba Amravati University,Amravati",Paper and Pulp Technology,72318,82778,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1352,Pimpri Chinchwad Education Trust's Pimpri Chin...,Mechanical Engineering,75713,87570,NaN,NaN,NaN,NaN,NaN,NaN
1354,Dr.D.Y.Patil College Of Engineering & Innovati...,Computer Engineering,87856,59128,NaN,NaN,NaN,NaN,NaN,NaN
1356,Dr. D Y Patil Pratishthan's College of Enginee...,Computer Science and Engineering,88471,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1358,Dr. D Y Patil Pratishthan's College of Enginee...,Electrical Engineering,I,84548,NaN,NaN,NaN,NaN,NaN,NaN
1360,Dr. D Y Patil Pratishthan's College of Enginee...,Computer Science and Engineering(Data Science),50012,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [179]:
cutoffs.to_csv("cutoffs.csv")

In [196]:
jeecap1 = pd.read_csv('jeecap1.csv')
jeecap2 = pd.read_csv('tabula-jeecap2.csv')
for i in range(1495):
    if str(jeecap1['Score'][i]) == "nan":
        jeecap1['ClgName'][i-1] = str(jeecap1['ClgName'][i-1])
        jeecap1['ClgName'][i-1] += ", " + str(jeecap1['ClgName'][i])
jeecap1 = jeecap1.replace(r'.*- ', '', regex=True)
jeecap1 = jeecap1.drop(columns=['ChoiceCode', 'Unnamed: 4'])
jeecap1 = jeecap1.dropna(subset=['Score'])

In [197]:
def extract(string):
    info = list(string.split())
    info[1] = info[1][1:-1]
    return info[0],info[1]

In [198]:
jeecap1['Rank'], jeecap1['Scores'] = \
zip(*jeecap1['Score'].map(extract))

In [199]:
jeecap1 = jeecap1.reindex(columns=['Rank', 'Scores', 'ClgName', 'Branch', 'Score'])
jeecap1 = jeecap1.drop(columns=['Score'])
jeecap1.head()

,Rank,Scores,ClgName,Branch
0,135,210,Bhartiya Vidya Bhavan's Sardar Patel Institute...,Computer Engineering
1,256,192,"Institute of Chemical Technology, Matunga, Mumbai",Chemical Engineering
2,294,188,"Pune Institute of Computer Technology, Dhankav...",Computer Engineering
3,347,183,Shri Vile Parle Kelvani Mandal's Dwarkadas J. ...,Computer Engineering
4,391,179,Bhartiya Vidya Bhavan's Sardar Patel Institute...,Information Technology