In [1]:
import pandas as pd
import numpy as np

In [ ]:
cutoffs = pd.read_csv('clgBranchCutoff.csv')
cutoffs = cutoffs.iloc[::2]
cutoffs = cutoffs.drop(columns = ['Unnamed: 0', 'GNT2S', 'LNT2S', 'ORPHAN', 'EWS', 'TFWS', 'ABCD', 'EFGH', 'Unnamed: 16', 'Unnamed: 17'])
cutoffs = cutoffs.iloc[:681]

In [ ]:
clgBranch = pd.read_csv('clgNameBranch.csv')
clg = clgBranch.iloc[::2]
branch = clgBranch.iloc[1::2]
clg = list(clg['clg'])
branch = list(branch['clg'])
cutoffs['ClgName'] = clg
cutoffs['Branch'] = branch
colnames = ['ClgName', 'Branch', 'GOPENS', 'GSCS', 'GSTS', 'GNT1S', 'GOBCS', 'LOPENS', 'LOBCS', 'PWDOPENS']
cutoffs = cutoffs.reindex(columns=colnames)
cutoffs
colname = ['GOPENS', 'GSCS', 'GSTS', 'GNT1S', 'GOBCS', 'LOPENS', 'LOBCS', 'PWDOPENS']
cutoffs = cutoffs.replace(r'\r.*', '', regex=True)
cutoffs = cutoffs.replace(r'.*- ', '', regex=True)
cutoffs

In [ ]:
cutoffs.to_csv("cutoffs.csv")

In [38]:
def extract_score_rank(string):
    info = list(string.split())
    info[1] = info[1][1:-1]
    return info[0],info[1]

def extract_name_town_city(sample):
    res = sample.split(',')
    name, town, city = '', '', ''
    if len(res) >= 1: name = res[0]
    if len(res) >= 2: town = res[1]
    if len(res) >= 3: city = res[2]
    name
    return name, town, city

def extraction(file_names: list):
    for file_name in file_names:
        table = pd.read_csv(file_name)
        print(table.columns)
        for i in range(table.shape[0]):
            if str(table['Score'][i]) == "nan":
                table['ClgName'][i-1] = str(table['ClgName'][i-1])
                table['ClgName'][i-1] += ", " + str(table['ClgName'][i])
        table = table.replace(r'.*- ', '', regex=True)

        table = table.drop(columns=['ChoiceCode', 'A', 'B'])
        table = table.dropna(subset=['Score'])
        
        table['Rank'], table['Scores'] = zip(*table['Score'].map(extract_score_rank))
        table['Name'], table['Town'], table['City'] = zip(*table['ClgName'].map(extract_name_town_city))
        
        table = table.replace(r'.*- ', '', regex=True)
        
        table = table.drop(columns=['Score', 'ClgName'])
        table = table.reindex(columns=['Rank', 'Scores', 'Name', 'Branch', 'Town', 'City'])

In [39]:
file_names = ['jeecap1.csv', 'jeecap2.csv']
df = extraction(file_names)

Index(['Score', 'ChoiceCode', 'ClgName', 'Branch', 'A', 'B'], dtype='object')
  Rank Scores                                               Name  \
0  135    210  Bhartiya Vidya Bhavan's Sardar Patel Institute...
1  256    192                   Institute of Chemical Technology
2  294    188              Pune Institute of Computer Technology
3  347    183  Shri Vile Parle Kelvani Mandal's Dwarkadas J. ...
4  391    179  Bhartiya Vidya Bhavan's Sardar Patel Institute...

                   Branch          Town     City
0    Computer Engineering       Andheri   Mumbai
1    Chemical Engineering       Matunga   Mumbai
2    Computer Engineering     Dhankavdi     Pune
3    Computer Engineering  \nVile Parle   Mumbai
4  Information Technology       Andheri   Mumbai
Index(['Score', 'ChoiceCode', 'ClgName', 'Branch', 'A', 'B'], dtype='object')

<ipython-input-38-32e720056d68>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['ClgName'][i-1] = str(table['ClgName'][i-1])
<ipython-input-38-32e720056d68>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['ClgName'][i-1] += ", " + str(table['ClgName'][i])
<ipython-input-38-32e720056d68>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['ClgName'][i-1] = str(table['ClgName'][i-1])
<ipython-input-38-32e720056d68>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['ClgName'][i-1] += ", " + str(table['ClgName'][i])

  Rank Scores                                               Name  \
0  246    193  Bhartiya Vidya Bhavan's Sardar Patel Institute...
1  391    179                   Institute of Chemical Technology
2  432    175              Pune Institute of Computer Technology
3  466    173  Bhartiya Vidya Bhavan's Sardar Patel Institute...
4  511    170              Pune Institute of Computer Technology

                   Branch        Town     City
0    Computer Engineering     Andheri   Mumbai
1    Chemical Engineering     Matunga   Mumbai
2    Computer Engineering   Dhankavdi     Pune
3  Information Technology     Andheri   Mumbai
4    Computer Engineering   Dhankavdi     Pune